<div class="column is-one-quarter p-4">
	<!-- <code>{{ name }}</code> -->
	<a href="committee/{{url}}">

		<div class="card block has-background-light is-shadowless is-align-items-center is-flex is-justify-content-center">
			<div class="card-content has-text-centered">
				<div class="content">
					<!-- <h1 class="title">{{ committee.name }}</h1> -->
					<img src="/assets/logos/{{ url }}/{{ url }}-wordmark-dark-gradient.png" alt="logo" style="height: 55px;">
				</div>
			</div>
		</div>
	</a>
</div>